/* <system section="theme" selected="17680117127077295762"> */
@import url("https://blog.hatena.ne.jp/-/theme/17680117127077295762.css");
/* </system> */

/* Responsive: yes */

/* ---- CSS Hack Begin ---- */
#title a {
  /* Google Web Font */
  font-family: 'Kaushan Script', cursive;
  font-size: 0.7em;
}

html,
body input,
div .entry-content,
#blog-description {
  /* Google Web Font */
  font-family: Noto Sans JP, -apple-system, blinkmacsystemfont, Segoe UI, Hiragino Kaku Gothic ProN, BIZ UDPGothic, meiryo, sans-serif;
}

/* container */
#wrapper {
  @media (min-width: 768px) {
    width: 100%;
  }

  @media (min-width: 992px) {
    max-width: 100%;
  }
}

/* ---- CSS Hack End ---- */

/* go top */

#page-top {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}

#move-page-top {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  display: block;
  cursor: pointer;
}

#move-page-top:hover {
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width: 400px) {
  #page-top {
    right: 5%;
    bottom: 5%;
  }
}

/* ---- Google Custom Search CSS Begin ---- */

.gsc-control-cse,
.gsc-control-searchbox-only {
  display: block !important;
  padding: 0 !important;
}

.gsc-control-cse form.gsc-search-box.gsc-search-box-tools,
.gsc-control-searchbox-only form.gsc-search-box.gsc-search-box-tools,
.gsc-control-cse form.gsc-search-box.gsc-search-box-tools table.gsc-search-box,
.gsc-control-searchbox-only form.gsc-search-box.gsc-search-box-tools table.gsc-search-box {
  margin: 0 !important;
}

.gsc-control-cse td.gsc-input,
.gsc-control-searchbox-only td.gsc-input {
  margin: 0 !important;
  padding: 0 !important;
}

.gsc-control-cse td.gsc-input #gsc-iw-id1,
.gsc-control-searchbox-only td.gsc-input #gsc-iw-id1 {
  background-clip: padding-box;
  border: 1px solid #cccccc !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
}

/* disable search button */
#searchbox-btn,
.gsc-control-cse td.gsc-search-button,
.gsc-control-searchbox-only td.gsc-search-button {
  display: none;
}

.gsc-control-cse,
#top-editarea .gsc-control-cse td.gsc-search-button,
#top-editarea .gsc-control-searchbox-only td.gsc-search-button {
  display: block !important;
}

/* override defaults.css */
#top-editarea .gsc-control-cse,
#top-editarea .gsc-control-searchbox-only {
  margin-left: auto;
  padding: 6px 0;
  width: auto;
}

#top-editarea .gsc-control-cse form.gsc-search-box.gsc-search-box-tools,
#top-editarea .gsc-control-searchbox-only form.gsc-search-box.gsc-search-box-tools #top-editarea .gsc-control-cse form.gsc-search-box.gsc-search-box-tools table.gsc-search-box,
#top-editarea .gsc-control-searchbox-only form.gsc-search-box.gsc-search-box-tools table.gsc-search-box {
  margin: 0 !important;
}

#top-editarea .gsc-control-cse td.gsc-input,
#top-editarea .gsc-control-searchbox-only td.gsc-input {
  margin: 0 !important;
  padding: 0 !important;
}

#top-editarea .gsc-control-cse td.gsc-input #gsc-iw-id1,
#top-editarea .gsc-control-searchbox-only td.gsc-input #gsc-iw-id1 {
  background-clip: padding-box;
  border: 1px solid #cccccc !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 2px;
  border-top-right-radius: 2px;
  border-top-left-radius: 0;
}

#top-editarea .gsc-control-cse td.gsc-search-button input.gsc-search-button,
#top-editarea .gsc-control-searchbox-only td.gsc-search-button input.gsc-search-button {
  background-color: #333333 !important;
  background-image: none !important;
  border: none !important;
  border: 1px solid #333333 !important;
}

#top-editarea .gsc-control-cse td.gsc-search-button input.gsc-search-button:hover,
#top-editarea .gsc-control-searchbox-only td.gsc-search-button input.gsc-search-button:hover {
  background-color: #999999 !important;
  border: 1px solid #999999 !important;
}

/* ---- Google Custom Search CSS End ---- */
