/* <system section="theme" selected="6802418398435013379"> */
@import url("https://usercss.blog.st-hatena.com/-/theme/6802418398435013379.css?version=b2c7d60386152f7e77dc8cb5a708a595e7934ea6");
/* </system> */

#title a {
  font-family: 'Kaushan Script', cursive, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Helvetica Neue", "Helvetica", "Noto Sans JP", "Meiryo", sans-serif, "Segoe UI Emoji";
}
