name: "[Reusable workflows] push draft to hatena blog"

on:
  workflow_call:
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  upload-images:
    # uses: hatena/hatenablog-workflows/.github/workflows/upload-images.yaml@v1
    uses: ./.github/workflows/_upload-images.yaml
    secrets:
      OWNER_API_KEY: ${{ secrets.OWNER_API_KEY }}

  push-draft:
    if: always()
    needs: upload-images
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    env:
      BLOGSYNC_PASSWORD: ${{ secrets.OWNER_API_KEY }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ needs.upload-images.result == 'success' && needs.upload-images.outputs.revision || '' }}
          fetch-depth: 0
      - name: setup
        uses: hatena/hatenablog-workflows/.github/actions/setup@ce4c0e01255ad9348842e5ce09809c3ec499e43d # v2.0.5
      - name: Get changed draft files
        id: changed-draft-files
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          list-files: shell # default 'none'. Disables listing of matching files.
          filters: |
            changes:
              - added|modified: draft_entries/**/*.md
      - name: push only draft entry
        run: |
          for file in ${{ steps.changed-draft-files.outputs.changes_files }}; do
            echo "Executing $file"
            draft=$(yq --front-matter=extract 'select(.Draft == true)' "$file")
            editurl=$(yq --front-matter=extract 'select(.EditURL == "https://blog.hatena.ne.jp/*")' "$file")
            if [[ -n "$draft" ]] && [[ -n "$editurl" ]]; then
              blogsync push "$file"
            fi
          done
