name: "[Reusable workflows] push when publishing from draft"

on:
  workflow_call:
    inputs:
      BLOG_DOMAIN:
        required: true
        type: string
    secrets:
      OWNER_API_KEY:
        required: true

jobs:
  push-when-publishing-from-draft:
    if: ${{ github.event.pull_request.merged && !contains(github.event.pull_request.labels.*.name, 'skip-push') }}
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    env:
      BLOGSYNC_PASSWORD: ${{ secrets.OWNER_API_KEY }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: setup
        uses: hatena/hatenablog-workflows/.github/actions/setup@ce4c0e01255ad9348842e5ce09809c3ec499e43d # v2.0.5
      - name: Get changed draft files
        id: changed-draft-files
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          list-files: shell # default 'none'. Disables listing of matching files.
          filters: |
            changes:
              - added|modified: draft_entries/**/*.md
      - name: blogsync push
        id: publised-from-draft
        run: |
          for file in ${{ steps.changed-draft-files.outputs.changes_files }}; do
            draft=$(yq --front-matter=extract 'select(.Draft == true)' "$file")
            if [[ -z "$draft" ]]; then
              blogsync push "$file"
            fi
          done
      - name: commit
        shell: bash
        run: |
          git remote set-url origin "https://github-actions:${GITHUB_TOKEN}@github.com/${{ github.repository }}"
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

          git checkout -b "${BRANCH_NAME}"
          git add .
          git commit -m "from draft to publish" || true
          git push -u origin "${BRANCH_NAME}" --force
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
          GITHUB_WORKFLOW: ${{ github.workflow }}
          BRANCH_NAME: from-draft-to-publish
      - name: Create PullRequest
        shell: bash
        run: |
          pr_exists=$(gh pr list --head "${BRANCH_NAME}" --base "${{ github.event.repository.default_branch}}")
          if [ -n "$pr_exists" ]; then
            echo "PR already exists for  -> ${BRANCH_NAME}. Skipping creation."
            exit 0
          fi

          cat << 'EOF' > pr_body.txt
          はてなブログに公開したファイルを`local_root`で指定したディレクトリに移動しました

          ---

          This PR was created automatically via [${{ github.workflow }}](${{ env.GITHUB_ACTIONS_RUN_URL}}), job [link](${{ env.GITHUB_ACTIONS_JOB_URL}}).
          EOF

          gh pr create --title "${TITLE}" --body-file "./pr_body.txt" --labels "skip-push"
        env:
          BRANCH_NAME: from-draft-to-publish
          GH_TOKEN: ${{ github.TOKEN }}
          GITHUB_ACTIONS_RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          GITHUB_ACTIONS_JOB_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/jobs/${{ job.check_run_id }}
          TITLE: from draft to publish
