name: 記事の校正
on:
  workflow_call:
  pull_request:
    branches: [main]
    paths:
      - "draft_entries/**/*.md"
      - "entries/**/*.md"
      - .github/workflows/textlint.yaml
      - .textlintrc.json
      - package*.json

# run `npx textlint --fix ./guitarrapc-tech.hatenablog.com/entry/**/*.md` to fix lint errors.

jobs:
  textlint-lint:
    strategy:
      fail-fast: false
      matrix:
        year:
          - 2012
          - 2013
          - 2014
          - 2015
          - 2016
          - 2017
          - 2018
          - 2019
          - 2020
          - 2021
          - 2022
          - 2023
          - 2024
          - 2025
          - 2026
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
      - name: restore textlint
        run: npm ci
      - name: textlint (draft)
        run: npm run "lintdraft"
      - name: textlint
        run: npm run "lint${{ matrix.year }}"

  textlint:
    needs: textlint-lint
    runs-on: ubuntu-24.04
    steps:
      - name: completed
        run: echo "textlint job completed"
